#citationbox {
	padding: 30px;
	margin: 20px 0 0 0;
	color: #000000;
	background-color: #D6E8F2;
	border-bottom: 5px solid #5CACE2;
	list-style: none;
}

#citationbox a {
	color: #5CACE2;
	font-weight: none;
	text-decoration: none;
}

#citationbox a:hover {
	color: #006385;
}